.social-cards{
    background-color: var(--color-accent);
}

.social-cards h2{
    font-size: 48px;
    color: var(--color-primary);
    font-weight: 500;
    margin-bottom: 20px;
}

.social-cards p{
    max-width: 700px;
    text-align: center;
    margin-inline: auto;
}

.social-card-wrapper{
    display: flex;
    width: 100%;
    height: 100%
}

.social-card-wrapper .card-img{
    width: 100%;
}